#pic{
	height: auto;
	width:500px;
}
body{

background-color:burlywood;
}

#pc{
	height: auto;
	width: 50px;
}

#totals{
	color:black
}
.Order1{
	display: none;
}
.Order2{
	display: none;
}
.Order3{
	display: none;
}